In [1]:
import pandas as pd
df1 = pd.read_csv("./student-scores.csv")
df = df1.copy()
df.head()

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76

In [2]:
df.columns
df.drop(columns=['id','first_name','last_name','email'],axis=1, inplace=True)

In [3]:
df["total_score"] = df["math_score"] + df["history_score"] + df["physics_score"] + df["chemistry_score"] + df["biology_score"] + df["english_score"] + df["geography_score"]
df["average_score"] = df["total_score"] / 7
df.head()

,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,total_score,average_score
0,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87,574,82.000000
1,female,False,2,False,47,Doctor,90,86,96,100,90,88,90,640,91.428571
2,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94,605,86.428571
3,female,False,5,False,3,Artist,71,74,88,80,89,63,86,551,78.714286
4,male,False,5,False,10,Unknown,84,77,65,65,80,74,76,521,74.428571

Encoding Categorical Columns

In [4]:
gender_map = {'male': 0, 'female': 1}
part_time_job_map = {False: 0, True: 1}
extracurricular_activities_map = {False: 0, True: 1}
career_aspiration_map = {
        'Lawyer': 0, 'Doctor': 1, 'Government Officer': 2, 'Artist': 3, 'Unknown': 4,
        'Software Engineer': 5, 'Teacher': 6, 'Business Owner': 7, 'Scientist': 8,
        'Banker': 9, 'Writer': 10, 'Accountant': 11, 'Designer': 12,
        'Construction Engineer': 13, 'Game Developer': 14, 'Stock Investor': 15,
        'Real Estate Developer': 16
    }
# Apply mapping to the DataFrame
df['gender'] = df['gender'].map(gender_map)
df['part_time_job'] = df['part_time_job'].map(part_time_job_map)
df['extracurricular_activities'] = df['extracurricular_activities'].map(extracurricular_activities_map)
df['career_aspiration'] = df['career_aspiration'].map(career_aspiration_map)

In [5]:
df['career_aspiration'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16],
      dtype=int64)

In [8]:
pip install imbalanced-learn

Note: you may need to restart the kernel to use updated packages.

In [9]:
pip show imbalanced-learn

Note: you may need to restart the kernel to use updated packages.

In [10]:
from sklearn.preprocessing import LabelEncoder

# Encoder la variable cible si elle est catégorique
y = LabelEncoder().fit_transform(df['career_aspiration'])

# Encoder les colonnes catégoriques de X
X = pd.get_dummies(df.drop('career_aspiration', axis=1))

In [11]:
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Encoder la variable cible
y = LabelEncoder().fit_transform(df['career_aspiration'])

# Encoder les colonnes catégoriques dans X
X = pd.get_dummies(df.drop('career_aspiration', axis=1))

# Vérifiez les déséquilibres dans y
print("Répartition des classes avant SMOTE :")
print(pd.Series(y).value_counts())

# Créez un objet SMOTE
smote = SMOTE(random_state=42)

# Appliquez SMOTE
X_resampled, y_resampled = smote.fit_resample(X, y)

# Vérifiez les nouvelles proportions
print("Répartition des classes après SMOTE :")
print(pd.Series(y_resampled).value_counts())

ModuleNotFoundError: No module named 'imblearn'

# Train test Split

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_resampled,y_resampled,test_size=0.2, random_state=42)

NameError: name 'X_resampled' is not defined

In [8]:
X_train.shape

(4284, 14)

# Feature Scalling

In [9]:
from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit the scaler to the training data and transform both training and testing data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [10]:
X_train_scaled.shape

(4284, 14)

# Models Training

In [11]:
#from sklearn.linear_model import LogisticRegression
#from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [12]:
model = RandomForestClassifier()

model.fit(X_train_scaled, y_train)
# Predict on test set
y_pred = model.predict(X_test_scaled)

# Calculate metrics
print("Accuracy: ",accuracy_score(y_test, y_pred))
print("Report: ",classification_report(y_test, y_pred))
print("Confusion Matrix: ",confusion_matrix(y_test, y_pred))

Accuracy:  0.8319327731092437
Report:                precision    recall  f1-score   support

           0       0.76      0.88      0.82        68
           1       0.82      0.97      0.89        72
           2       0.77      1.00      0.87        57
           3       0.87      0.95      0.91        58
           4       0.80      0.42      0.55        66
           5       0.59      0.38      0.46        76
           6       0.91      0.99      0.95        71
           7       0.95      0.95      0.95        61
           8       0.76      1.00      0.86        53
           9       0.70      0.70      0.70        61
          10       0.92      0.95      0.94        63
          11       0.84      0.72      0.78        53
          12       0.87      0.88      0.88        68
          13       0.77      0.91      0.83        55
          14       0.92      1.00      0.96        57
          15       0.91      0.76      0.83        63
          16       0.95      0.80      0.87        69

    accuracy                           0.83      1071
   macro avg       0.83      0.84      0.83      1071
weighted avg       0.83      0.83      0.82      1071

Confusion Matrix:  [[60  3  0  0  1  1  0  0  0  1  1  0  0  0  0  1  0]
 [ 0 70  0  0  0  0  0  0  1  0  0  0  1  0  0  0  0]
 [ 0  0 57  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0 55  0  0  0  1  0  0  0  0  0  0  2  0  0]
 [ 3  3  7  0 28  9  2  0  1  4  1  3  3  0  1  0  1]
 [ 9  5  0  0  1 29  1  0  5 10  0  2  1 10  0  3  0]
 [ 0  0  0  0  0  0 70  0  0  0  0  0  1  0  0  0  0]
 [ 0  0  0  1  0  0  0 58  0  0  0  0  0  0  1  0  1]
 [ 0  0  0  0  0  0  0  0 53  0  0  0  0  0  0  0  0]
 [ 3  1  1  0  0  4  1  0  2 43  2  1  3  0  0  0  0]
 [ 0  0  2  0  0  0  0  0  1  0 60  0  0  0  0  0  0]
 [ 0  2  0  0  2  4  2  0  3  1  0 38  0  1  0  0  0]
 [ 1  0  1  0  1  1  1  0  0  0  1  0 60  0  1  0  1]
 [ 0  0  2  0  0  0  0  0  2  0  0  0  0 50  0  1  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0 57  0  0]
 [ 3  1  0  0  2  1  0  0  1  2  0  1  0  4  0 48  0]
 [ 0  0  4  7  0  0  0  2  1  0  0  0  0  0  0  0 55]]

# Single Input Predictions

In [14]:
#test1
print("Actual Label:", y_test[10])  # Utilisez l'indexation de tableau
print("Model Prediction:", model.predict(X_test_scaled[10].reshape(1, -1))[0])

if y_test[10] == model.predict(X_test_scaled[10].reshape(1, -1)):
    print("Prediction is correct!")
else:
    print("Prediction is incorrect.")

Actual Label: 12
Model Prediction: 12
Prediction is correct!

In [16]:
#test2
print("Actual Label:", y_test[300])  # Utilisez l'indexation de tableau
print("Model Prediction:", model.predict(X_test_scaled[300].reshape(1, -1))[0])

if y_test[10] == model.predict(X_test_scaled[10].reshape(1, -1)):
    print("Prediction is correct!")
else:
    print("Prediction is incorrect.")

Actual Label: 0
Model Prediction: 0
Prediction is correct!

In [17]:
#test3
print("Actual Label:", y_test[55])  # Utilisez l'indexation de tableau
print("Model Prediction:", model.predict(X_test_scaled[55].reshape(1, -1))[0])

if y_test[10] == model.predict(X_test_scaled[10].reshape(1, -1)):
    print("Prediction is correct!")
else:
    print("Prediction is incorrect.")

Actual Label: 10
Model Prediction: 10
Prediction is correct!

In [18]:
import pickle

# SAVE FILES
pickle.dump(scaler,open("C:/Users/DRISS ABATOUR/Documents/teste_1_system_recommandation/student score/scaler.pkl",'wb'))
pickle.dump(model,open("C:/Users/DRISS ABATOUR/Documents/teste_1_system_recommandation/student score/model.pkl",'wb'))